/* Стили для элемента с классом big_div */
.big_div{
	/* Цвет шрифта в этом элементе будет красным */
	color: red;
}
/* Стили для элемента с классом med_div */
.med_div{
	/* Цвет фона этого элемента будет зеленым */
	background-color: green;
}
/* Стили для элемента с классом btn1 */
.btn1{
	/* Цвет шрифта красный */
	color: red;
	/* Цвет фона розовый */
	background-color: pink;
	/* Высота элемента 100 пикселей */
	height: 100px;
	/* Ширина элемента 80% от размера дочернего элемента(big_div) */
	width: 80%;
	/* Размер шрифта. Почему em? Читать здесь => https://learn.javascript.ru/css-units */
	font-size: 2em;
	/* Комментарий. т.е. эта строка не учитывается*/
	/*color: black;*/
}
